{% extends 'veloce/layout/index.html' %}
{% load auth_tag %}
{% load static %}


{% block search%}
<div class="search search-box">
    <form id="search" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search" id="txtSearch" name="txtSearch" style="padding-top:22px;">
      <div class="input-group-append">
        <button class="btn btn-primary" style="border-radius: 20px;margin-top:9px;margin-bottom:-7px;" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>
    </form>
</div>
{%endblock%}

{% block customCssBlock %}
<link rel="stylesheet" href='{% static "veloce-store/css/home-page.css" %}'>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="row-title">
            <h4>Featured Products</h4>
        </div>

    </div>
</div>
<br>
<div class="row">
    {% if featured_products %}
        {% for product in featured_products %}
            {% include 'veloce/products/products-list-layout.html' %}
        {% endfor %}
        {% include 'veloce/modal/rating-modal.html' %}
        {% include 'veloce/modal/inquiry-modal.html' %}
    {% else %}
        <div class="card-body">
            <label class="h5" style="color: #fff;">No feature products Found !</label>
        </div>
    {% endif %}
</div>
<br>
<br>
<!--Top Rated Products -->
<div class="row-fluid">
    <div class="col-12" style="padding: 0">
        <div class="row-title">
            <h4>Top Rated Products</h4>
        </div>

    </div>
</div>
<br>
<div class="row">
    {% if top_rated_products %}
        {% for product in top_rated_products %}
            {% include 'veloce/products/products-list-layout.html' %}
        {% endfor %}
        {% include 'veloce/modal/rating-modal.html' %}
        {% include 'veloce/modal/inquiry-modal.html' %}
    {% else %}
        <div class="card-body">
            <label class="h5" style="color: #fff;">No feature products Found !</label>
        </div>
    {% endif %}
</div>
<br>
<br>
{% endblock %}
{% block customJsBlock %}
    <script src='{% static "veloce-store/js/product-page.js" %}'></script>
{% endblock %}
