{% extends 'veloce/layout/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block customCssBlock %}
<link rel="stylesheet" href='{% static "veloce-store/css/home-page.css" %}'>
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Change your password</h6>
    </div>
    <div class="card-body">
        <form method="post" novalidate class="user" id="change-password">
            {% csrf_token %}
            {% include 'veloce/form/form.html' %}
            <button type="submit" class="btn btn-primary btn-user btn-block">Change password</button>
        </form>
    </div>
</div>
<script src='{% static "veloce-store/vendor/jquery/js/jquery.min.js" %}'></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src='{% static "veloce-store/js/validation.js" %}'></script>
{% endblock %}

