{% extends 'veloce/layout/index.html' %}
{% load static %}

{% block customCssBlock %}
<link rel="stylesheet" href='{% static "veloce-store/css/home-page.css" %}'>
{% endblock %}

{% block body %}
<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form method="post" class="user" id="signup-user">
                            {% csrf_token %}
                            {% include 'veloce/form/form.html' %}
                            <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="javascript:void(0);">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='{% static "veloce-store/vendor/jquery/js/jquery.min.js" %}'></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src='{% static "veloce-store/js/validation.js" %}'></script>
{% endblock %}
