{% extends 'veloce/layout/index.html' %}

{%load static%}

{%block title%}Invoice Finance{%endblock title%}
{%block pagetitle%}Invoice Finance{%endblock pagetitle%}

{%block content%}


<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-hand-holding-usd"></i>
</div>

<div style="width: 800px; text-align:justify; padding: 10px;">
    <p class="text-justify" style="width: 800px;">

    <ul>
        <li><font> &#10004; </font> If any equipment sell – purchase transaction gets completed and is recorded on the
            portal <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, then all such recorded
            transactions shall be eligible to apply for finance schemes of registered dealer / seller on such
            transaction and to get finance offers from Beagle's listed lenders through <a
                    href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a></li>
        <br>

    </p>
</div>
{%endblock%}
