{% extends 'veloce/layout/index.html' %}

{%load static%}

{%block title%}Buy-Sell{%endblock title%}
{%block pagetitle%}Buy-Sell{%endblock pagetitle%}

{%block content%}


<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-hand-holding-usd"></i>
</div>

<div style="width: 800px; text-align:justify; padding: 10px;">
    <p class="text-justify" style="width: 800px;">

        <ul>
            <li><font> &#10004; </font> beagle.bazar provides meditech manufacturers and dealers a platform to sell their
                products and equipments on the portal <a href="http://192.168.0.20:7002/"
                                                         target="_blank">www.beagle.bazar</a></li>
            <br>
            <li><font> &#10004; </font> beagle.bazar has millions of potential customers registered as well as many
                unregistered users visiting the portal to search for latest meditech equipments viz. doctors, medical
                practitioners, and health care institutions.
            </li>
            <br>
            <li><font> &#10004; </font> Manufacturers and Dealers lists their meditech products and equipments on the porta
                <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> which are visible to all who seek
                to purchase such products and equipments.
            </li>
            <br>
            <li><font> &#10004; </font> Potential customers of such meditech products and equipments raise product inquiries
                and converse with respective dealer / manufacturers
            </li>
            <br>
            <li><font> &#10004; </font> If the transaction gets completed and is recorded on the portal <a
                    href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, , then both the seller and
                purchaser gets reward points for the recorded transactions which can be utilized in future for eligible
                transactions; for example, for purchasing certain approved products / equipments, get finance at
                concessional terms etc.
            </li>
            <br>
            <li><font> &#10004; </font> All such recorded transactions shall be eligible to apply for finance on such
                transaction and to get finance offers from Beagle's listed lenders through <a
                        href="http://192.168.0.20:7003" target="_blank">www.beaglefintech.com</a></li>
            <br>
            <li><font> &#10004; </font> Dealers / Manufacturers may also provide customized and lucrative finance scheme on
                their listed products and equipments
            </li>
            <br>
        </ul>
    </p>
</div>
{%endblock%}