{% extends 'veloce/layout/index.html' %}

{%load static%}

{%block title%}Equipment Finance{%endblock title%}
{%block pagetitle%}Equipment Finance{%endblock pagetitle%}

{%block content%}


<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-hand-holding-usd"></i>
</div>

<div style="width: 800px; text-align:justify; padding: 10px;">
    <p class="text-justify" style="width: 800px;">

        <ul>
            <li><font> &#10004; </font> Dealers / Manufacturers may also provide customized and lucrative finance schemes on
                their listed products and equipments.
            </li>
            <br>
            <li><font> &#10004; </font> Respective customers will be able to get finance as specified in the dealer’s
                finance schemes.
            </li>
            <br>
        </ul>

    </p>
</div>
{%endblock%}
