{% extends 'veloce/layout/index.html' %}

{%load static%}

{%block title%}Faq's{%endblock title%}
{%block pagetitle%}Faq's{%endblock pagetitle%}

{%block content%}

<div style="padding: 20px 10px; width: 1000px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-hand-holding-usd"></i>
</div>

<div style="width: 1100px; text-align:justify; padding: 10px;">
    <p class="text-justify" style="width: 1000px;">

    <h5>1. Registration FAQs:</h5>
    <pre>
        <h6>
              1.1 Who can get registered at Beagle Bazar? Anyone can be registered at Beagle Bazar.

              1.2 What information required for registration?.
                <font> &#10004; </font> One can get registered by simply providing the below information.
                    <font> &#10004; </font> If proposed user is an individual First Name, Last Name, and Email id.
                    <font> &#10004; </font> If proposed user is non individual / an institutional Organization Name, First Name, Last Name, and Email id.
        </h6>
        <h5>2. Product Inquiry FAQs:</h5>
        <h6>      2.1 Why I am not able to view product prices, product details, and dealers’ information and
                    put inquiry for any product?
                <font> &#10004; </font> After getting registered at <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, one need to complete the profile by providing information up to
                      level – 1 and get the same approved to use the below functionalities.
                    <font> &#10004; </font> View the price of the products and vendor details.
                    <font> &#10004; </font> Reach genuine and qualified Beagle dealers to procure your desired products and equipments.
                    <font> &#10004; </font> Raise purchase inquiries for your desired products.
                    <font> &#10004; </font> Get exciting deals from our vendors.
                    <font> &#10004; </font> Get enrolled for our exciting customer’s rewards programme.
        </h6>
        <h6>      2.2	Even after submitting level – 1 information, I am not able to view product prices, product details, and dealers’
                    information and put inquiry for any product?.
                <font> &#10004; </font> Your submitted level – 1 information is subject to approval by admin team of <a
                    href="http://192.168.0.20:7002" target="_blank">www.beagle.bazar</a>, which may take some time,
                      so please wait for some time and try after some time till your submitted level – 1 information gets approved by our admin team.
        </h6>
        <h5>3. Product listing FAQs:</h5>

        <h6>     3.1	Why I am not able to access “Sell with us” option to list my products to sell on <a
                href="http://192.168.0.20:7002" target="_blank">www.beagle.bazar</a> ?.
                <font> &#10004; </font> One need to upgrade the profile by providing information up to level – 2 and get the same approved to use the
                        below functionalities.
                    <font> &#10004; </font> Become a dealer and list products to sell through Beagle.
                    <font> &#10004; </font> Have a reach to our widely spread customer base.
                    <font> &#10004; </font> Upload the sales bills and sales information and get enrolled for our exciting dealer rewards programme.
        </h6>
        <h6>     3.2	Even after submitting level – 2 information, I am not able to access “Sell with us” option to list my products to
                        sell on www.beagle.bazar?.
                <font> &#10004; </font> Your submitted level – 2 information is subject to approval by admin team of <a
                    href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, which may take some time,
                      so please wait for some time and try after some time till your submitted level – 2 information gets approved by our admin team.
        </h6>
        <h5>4. Product Finance scheme FAQs:</h5>

        <h6>    4.1 As a dealer, how can I provide a customized finance scheme for my listed products?.
                 <font> &#10004; </font> Finance scheme can be created from “Finance Scheme” menu by selecting any of your listed products and defining
                      “Rate of Interest”, and “Tenure”.
        </h6>
        <h6>    4.2	As a dealer, I have created a finance scheme for one my products but the same is not visible?.
                 <font> &#10004; </font> Your created finance scheme is subject to approval by admin team of <a
                    href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, which may take some time, so please
                       wait for some time and try after some time till your finance scheme gets approved by our admin team.
        </h6>
        <h5>5. Rewards FAQs:</h5>

        <h6>    5.1	Is the rewards available to customers only or its also available to dealers also?.
                 <font> &#10004; </font> Reward programme is subject to the decision of Beagle Bazar management, Beagle Bazar management decides from time to time for the
                       same as to whom, on what and how much reward to be provided and subject to the same, dealers and / or customer shall get
                       rewards upon uploading of actual completed transaction of certain specified products.
        </h6>

        <h6>    5.2	How much reward can I get on sell and / or purchase transactions?.
                 <font> &#10004; </font> Reward programme is subject to the decision of Beagle Bazar management, Beagle Bazar management decides from time to time for the
                       same as to whom, on what and how much reward to be provided and subject to the same, dealers and / or customer shall get
                       rewards upon uploading of actual completed transaction of certain specified products.
        </h6>

        <h6>    5.3	I have put an inquiry for the product and also the transaction is completed still I did not get any reward?.
                 <font> &#10004; </font> Reward programme is subject to the decision of Beagle Bazar management, Beagle Bazar management decides from time to time for the
                        same as to whom, on what and how much reward to be provided and subject to the same, dealers and / or customer shall get
                        rewards upon uploading of actual completed transaction of certain specified products.
                 <font> &#10004; </font> Further, even if there is any reward available on the product you transacted, then the same transaction must have
                        uploaded on the portal, then only you can get reward benefits.
        </h6>

        <h5>6.	Bill upload and bill finance FAQs:</h5>

        <h6>    6.1	Who can upload bill?
                 <font> &#10004; </font> A dealer for particular transaction can upload the bill by providing necessary information for the same.
        </h6>

        <h6>    6.2	I have uploaded a bill for a transaction by not able to apply for bill finance, why?.
                 <font> &#10004; </font> One need to upgrade the profile by providing information up to level – 3 and get the same approved to use the
                        below functionalities.
                    <font> &#10004; </font> Become a Beagle Bazar Approved Dealer and get the VeloBeagle Bazarc Approved tag on all your listed products as a dealer.
                    <font> &#10004; </font> Be eligible to get your listed products for getting exciting finance deals from Beagle Bazar and allied
                          finance partners.
                    <font> &#10004; </font> As a dealer, become eligible to get finance on your uploaded sales bills.
                    <font> &#10004; </font> As a customer, be eligible to get finance on your procured products.
        </h6>

        <h6>    6.3	As a dealer, I applied for bill finance now where the same can be visible?.
                 <font> &#10004; </font> All your bill finance applications can be viewed in “Finance” Menu under below mentioned
                        different categories of sub menus.
                    <font> &#10004; </font> Loan applications All the loan application applied but yet pending to be reviewed by lender are listed here.
                    <font> &#10004; </font> Sanctioned Loans All the loan application, which are reviewed by lender/s and also provided their finance
                            offers are listed here.
                    <font> &#10004; </font> Accepted Loan application on which any one lender’s finance offer is accepted will be listed here.
                    <font> &#10004; </font> Disbursed Loan applications on which any one lender’s finance offer is accepted by co-borrower and
                            the lender has also provided approval for disbursement on the same are listed here.
        </h6>

        <h6>    6.4	As a dealer, I applied for bill finance and for the same I can see many loan offers listed as “sanctioned loans”, why?.
                 <font> &#10004; </font> All your bill finance applications can be viewed in “Finance” Menu under below
                        mentioned different categories of sub menus.
                    <font> &#10004; </font> Loan applications All the loan application applied but yet pending to be reviewed by lender are listed here.
                    <font> &#10004; </font> Sanctioned Loans All the loan application, which are reviewed by lender/s and also provided their
                            finance offers are listed here.
                    <font> &#10004; </font> Accepted Loan application on which any one lender’s finance offer is accepted will be listed here.
                    <font> &#10004; </font> Disbursed Loan applications on which any one lender’s finance offer is accepted by co-borrower and
                            the lender has also provided approval for disbursement on the same are listed here.
        </h6>
    </pre>
    </p>
</div>
{%endblock%}
