{% extends 'veloce/layout/index.html' %}

{%load static%}

{%block title%}About Beagle Bazar{%endblock title%}
{%block pagetitle%}About Beagle Bazar{%endblock pagetitle%}

{%block content%}

<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-hand-holding-usd"></i>
</div>

<div style="width: 600px; text-align:justify; padding: 10px;">
    <p class="text-justify" style="width: 600px;">

    <ul>
        <li><font> &#10004; </font> <b>Beagle Bazar </b> gets the registration of meditech industry manufacturers and
            dealers to sell their products and equipments on the portal <a href="http://192.168.0.20:7002/"
                                                                           target="_blank">www.beagle.bazar</a></li>
        <br>
        <li><font> &#10004; </font> <b>Beagle Bazar </b> reaches to millions of doctors, medical practitioners, and
            health care institutions across the country
        </li>
        <br>
        <li><font> &#10004; </font> Manufacturers and Dealers list their meditech products and equipments on the portal
            <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> which are visible to all who seek
            to purchase such products and equipments
        </li>
        <br>
        <li><font> &#10004; </font> Potential customers of such products and equipments may raise product inquiries and
            converse with respective dealer / manufacturers through the platform itself.
        </li>
        <br>
        <li><font> &#10004; </font> If the transaction is executed and recorded ono the portal <a
                href="http://192.168.0.20:7002/" target="_blank">www.beaglebazar.market</a> , both parties, the seller and
            purchaser would get reward points for the recorded transaction which can be further be utilized or redeemed
            to get various benefits on future eligible transactions; for example, for purchasing certain approved
            products / equipments, get concessional finance deal on products etc.
        </li>
        <br>
        <li><font> &#10004; </font> Dealers / Manufacturers may also provide customized and lucrative finance scheme on
            their listed products and equipments
        </li>
        <br>
    </ul>
    </p>
</div>
{%endblock%}