{% extends 'veloce/layout/index.html' %}

{%load static%}

{%block title%}RBI Guidelines & Disclaimer{%endblock title%}
{%block pagetitle%}RBI Guidelines & Disclaimer{%endblock pagetitle%}

{%block main%}
{%block content%}

<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-hand-holding-usd"></i>
</div>

<div style="width: 600px; text-align:justify; padding: 10px;">
    <p class="text-justify" style="width: 800px;">
    <h6>
        <b>Work in Progress...</b>
    </h6>
    </p>
</div>
{%endblock%}
{%endblock%}