#healthcare {
    background-image: url('https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

#accounting {
    background-image: url('https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}

#manufacturing {
    background-image: url('https://images.pexels.com/photos/1145434/pexels-photo-1145434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

#diamond {
    background-image: url('https://images.pexels.com/photos/724118/pexels-photo-724118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

#textile {
    background-image: url('https://images.pexels.com/photos/994523/pexels-photo-994523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}

#banking {
    background-image: url('https://images.pexels.com/photos/164501/pexels-photo-164501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}